/* CSS for 약복용량 계산기 */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #87dced; /* 배경색 설정 */
    background-image: url('abstract-flow-background_1048-8282.jpg'); /* 배경 이미지 설정 */
    background-size: cover; /* 이미지가 화면을 덮도록 설정 */
    background-position: center; /* 이미지를 중앙에 위치 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
    background-attachment: fixed; /* 스크롤할 때 배경이 고정되도록 설정 */
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #d3d3d3;
    color: white;
    border-radius: 10px;
    width: 50%;  /* Adjust the width to half */
    font-size: 1.2em;  /* Increase font size */
    font-weight: bold;  /* Make text bold */
}

button.active {
    background-color: #555;
}

button:disabled {
    background-color: #a9a9a9;
}

/* 입력란 스타일 */
select, input {
    margin-top: 10px;
    padding: 8px;
    width: 10%; /* 입력란 너비를 10%로 조정 */
    font-size: 1.2em;  /* Increase font size */
    font-weight: bold;  /* Make text bold */
    border-radius: 10px; /* 모서리 둥글게 */
}

#inputFields {
    margin-top: 20px;  /* Add more space at the top */
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가운데 정렬 */
}

h2 {
    margin-top: 30px;
    font-size: 1.4em;  /* Increase font size */
    font-weight: bold;  /* Make text bold */
}
