/* CSS for 약복용량 계산기 */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #EBD3C0; /* 배경색 설정 */
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #d3d3d3;
    color: white;
    border-radius: 10px;
    width: 50%;  /* Adjust the width to half */
    font-size: 1.2em;  /* Increase font size */
    font-weight: bold;  /* Make text bold */
}

button.active {
    background-color: #555;
}

button:disabled {
    background-color: #a9a9a9;
}

/* 입력란 스타일 */
select, input {
    margin-top: 10px;
    padding: 8px;
    width: 40%; /* 입력란 너비 조정 */
    font-size: 1.2em;  /* Increase font size */
    font-weight: bold;  /* Make text bold */
    border-radius: 10px; /* 모서리 둥글게 */
}

#inputFields {
    margin-top: 20px;  /* Add more space at the top */
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가운데 정렬 */
}

h2 {
    margin-top: 30px;
    font-size: 1.4em;  /* Increase font size */
    font-weight: bold;  /* Make text bold */
}
