body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #0066cc;
    text-align: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select, button {
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px; /* 둥근 모서리 추가 */
    width: 100%;
}

button {
    background-color: #0066cc;
    color: white;
    cursor: pointer;
    border-radius: 8px; /* 둥근 모서리 추가 */
}

button:hover {
    background-color: #004c99;
}

#inputFields {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px; /* 둥근 모서리 추가 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

#dosageResult {
    font-size: 24px;
    font-weight: bold;
    color: #e60000;
}
